[submodule "und-vfd-controller"]
	path = und-vfd-controller
	url = https://github.com/kotbehemot53/und-vfd-controller.git
[submodule "und-nixie-controller"]
	path = und-nixie-controller
	url = git@github.com:kotbehemot53/und-nixie-controller.git
